@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    @apply bg-gray-900;
    overflow: hidden;
}

h2.title {
    letter-spacing: 1px;
}


/* Customize the scrollbar for the monitor component */
.orders-list::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.orders-list::-webkit-scrollbar-track {
    background: #2d2d2d; /* Background of the scrollbar (gray) */
}

.orders-list::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color of the scrollbar thumb (white) */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #2d2d2d; /* Border around the thumb */
}

/* Hover state when the mouse is over the scrollbar */
.orders-list::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc; /* Lighter color for the thumb on hover */
}
